.post {
    background-color: white;
    color: #0c1f38;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #08ABDF;
    border-left: solid;
    border-radius: 8px;
}

.comment {
  color: #0c1f38;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-color: #0c1f38;
  border-left: solid;
}
.comment-text {
  font-size: small;
}
.comment-text:hover {
  cursor: pointer;
  text-decoration: underline;
}