/* Parent comment */
.post {
    /* background-color: #0c1f38; */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-color: white;
    border-style: solid;
    /* position: relative; */
}
/* Child comment */
.comment {
  /* background-color: #35bdf9; */
  color: white;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-color: white;
  border-style: solid;
}

/* .reply-container {
  position: absolute;
  bottom: 0;
  right: 0;
} */