.navbar-container{
    background-color: #0c1f38;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    z-index: 110;
    width: 100%;
    position: fixed;
    top: 0; 
}

.logo{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo-container {
    display: flex;
    width: 201px;
}

.logo-text{
    font-size: 21px;
    font-weight: 300;
    color: #35bdf9;
    margin-left: 8%;
}

.nav-links{
    display: flex;
}

.nav-links li{
    margin-left: 10px;
    list-style: none;
}

.nav-links a{
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.grow li{
    transition: all 0.3s ease-in-out;
}

.grow li:hover{
    transform: scale(1.1);
}